In [2]:
score = {'국어':80, '영어':75, '수학':55}

total = score['국어'] + score['영어'] + score['수학']

print(total / len(score))

70.0

In [3]:
num = 13

if num % 2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

In [6]:
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[-7:]
print(yyyymmdd)
print(num)

881120
1068234

In [9]:
pin = "881120-1068234"
print(pin[7])

1

In [10]:
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

In [11]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [12]:
a = ['Life', 'is', 'too', 'short']
result = ' '.join(a)
print(result)

Life is too short

In [13]:
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [1]:
a = dict()
a
# 다음 중 오류가 나는 코드와 그 이유는?
# 1. a['name'] = 'python'
# 2. a[('a',)] = 'python'
# 3. a[[1]] = 'python'
# 4. a[250] = 'python'

# 정답은 3. a[[1]]이다. 딕셔너리으 key 는 변경이 불가능하지만, 리스트는 변경이 가능한 자료형이기 때문에 key 값으로 적절하지 않다.

{}

In [2]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [3]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [5]:
a = b = [1,2,3]
a[1] = 4
print(b)

# print(b)의 결과가 저렇게 나타나는 이유.
# a와 b는 같은 주소의 데이터를 참조하고 있다. 때문에 a의 값을 변경한다면 같은 주소를 참조하고 있는 b의 값도 변경되는 것이다.

[1, 4, 3]

In [21]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
    i += 1

print(result)

166833

In [22]:
i = 0
while True:
    i += 1
    if i > 5: break
    print("*" * i)

*
**
***
****
*****

In [23]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [27]:
A = [70,60,55,75,95,90,80,80,85,100]
total = 0
for score in A:
    total += score
average = total / len(A)
print(average)

79.0

In [40]:
numbers = [1,2,3,4,5]
result = [x*2 for x in numbers if x % 2 == 1]
print(result)

[2, 6, 10]

In [6]:
def is_odd(number):
    if number % 2 == 1:
        return True
    else:
        return False

In [11]:
def avg_numbers(*args):
    result = 0
    for i in args:
        result += i
    return result / len(args)

print(avg_numbers(1,2))
print(avg_numbers(1,2,3,4,5))

1.5
3.0

In [14]:
input1 = input("첫번째 숫자를 입력하세요. : ")
input2 = input("두번째 숫자를 입력하세요. : ")

# total = input1 + input2 -> 오류 코드()
# 오류를 고치면?
total = int(input1) + int(input2)
print("두 수의 합은 %s입니다." % total)

첫번째 숫자를 입력하세요. :  3
두번째 숫자를 입력하세요. :  6

두 수의 합은 9입니다.

In [16]:
# 다음 중 출력 결과가 다른 것은?
#
# 1. print("you" "need" "python")
# 2. print("you" + "need" + "python")
# 3. print("you", "need", "python")
# 4. print("".join(["you", "need", "python"]))
#
# 정답은 3번. 문자열을 , 로 연결한다면 띄어쓰기가 적용되기 때문이다.

print("you" "need" "python")
print("you" + "need" + "python")
print("you", "need", "python")
print("".join(["you", "need", "python"]))

youneedpython
youneedpython
you need python
youneedpython

In [4]:
f1 = open("test1.txt", 'w')
f1.write("Life is too short")

f2 = open("test1.txt", 'r')
print(f2.read())
f2.close()

Life is too short

In [5]:
user_input = input("저장할 내용을 입력하세요. : ")
f = open("test2.txt", 'a')
f.write(user_input)
f.close()

저장할 내용을 입력하세요. :  이 내용을 추가하겠다

In [7]:
f = open("test3.txt" , 'r')
body = f.read()
f.close()
body = body.replace("java", "python")
f = open("test3.txt", 'w')
f.write(body)
f.close()

In [12]:
# myargv.py 파일에 들어가서 콘솔을 열고
# python myargv.py 1 2 3 4 5 6 7 8 9 10

In [11]:
class Calculator:
    def __init__(self):
        self.value = 0
    
    def add(self,val):
        self.value += val

class UpgradeCalculator(Calculator):
    def minus(self,val):
        self.value -= val

cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)

print(cal.value)

3

In [20]:
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val

class MaxLimitCalculator(Calculator):
    def add(self, val):
        self.value += val
        if self.value > 100:
            self.value = 100

cal = MaxLimitCalculator()
cal.add(50)
cal.add(60)

print(cal.value)

100

In [47]:
list(filter(lambda x:x>0, [1,-2,3,-5,8,-3]))

[1, 3, 8]

In [48]:
int('0xea', 16)

234

In [49]:
list(map(lambda x:x*3, [1,2,3,4]))

[3, 6, 9, 12]

In [50]:
MaxMinList = [-8,2,7,5,-3,5,0,1]

print(max(MaxMinList) + min(MaxMinList))

-1

In [52]:
round(17/3, 4)

5.6667

In [14]:
import time

time.strftime("%Y/%m/%d %H/%M/%S")

'2024/11/25 12/28/37'

In [7]:
import random

result = []

while len(result) < 6:
    rand = random.randint(1,45)
    if rand not in result:
        result.append(rand)

result.sort()
print(result)

[17, 18, 24, 28, 31, 37]

In [57]:
import datetime

sister = datetime.date(1995,11,20)
me = datetime.date(1998,10,6)

(me - sister).days

1051

ValueError: invalid literal for int() with base 10: '-f'

In [54]:
import operator

data = [('윤서현', 15.25),
        ('김예지', 13.31),
        ('박예원', 15,34),
        ('송순자', 15.57),
        ('김시우', 15.48),
        ('배숙자', 17.9),
        ('전정웅', 13.39),
        ('김혜진', 16.63),
        ('최보람', 17.14),
        ('한지영', 14.83),
        ('이성호', 17.7),
        ('김옥순', 16.71),
        ('황민지', 17.65),
        ('김영철', 16.7),
        ('주병철', 15.67),
        ('박상현', 14.16),
        ('김영순', 14.81),
        ('오지아', 15.13),
        ('윤지은', 16.93),
        ('문재호', 16.39)]

data = sorted(data, key=operator.itemgetter(1))
for d in data:
    print(d)

('김예지', 13.31)
('전정웅', 13.39)
('박상현', 14.16)
('김영순', 14.81)
('한지영', 14.83)
('박예원', 15, 34)
('오지아', 15.13)
('윤서현', 15.25)
('김시우', 15.48)
('송순자', 15.57)
('주병철', 15.67)
('문재호', 16.39)
('김혜진', 16.63)
('김영철', 16.7)
('김옥순', 16.71)
('윤지은', 16.93)
('최보람', 17.14)
('황민지', 17.65)
('이성호', 17.7)
('배숙자', 17.9)

In [2]:
f1 = open("sample.txt", 'r')
lines=f1.readlines()
f1.close()

total = 0
for line in lines:
    score = int(line)
    total += score
average = total / len(lines)

f2 = open("result.txt", 'w')
f2.write(str(average))
f2.close()

In [10]:
import itertools

members = ['나지혜','성성민','윤지현','김정숙']

result = itertools.combinations(members, 2)

print(list(result))

[('나지혜', '성성민'), ('나지혜', '윤지현'), ('나지혜', '김정숙'), ('성성민', '윤지현'), ('성성민', '김정숙'), ('윤지현', '김정숙')]

In [11]:
import itertools
import random

members = ['A','B','C','D','E']
clean = ['청소', '빨래', '설거지']

random.sample(members, len(members))
result = itertools.zip_longest(members, clean, fillvalue="휴식")

for r in result:
    print(r)

('A', '청소')
('B', '빨래')
('C', '설거지')
('D', '휴식')
('E', '휴식')