In [1]:
a = 80
b = 75
c = 55

total = a + b + c
aver = total / 3
print(aver)

70.0

In [4]:
num = int(input())
if num % 2 == 0:
    print("짝수")
else:
    print("홀수")

 13

홀수

In [5]:
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[-7:]
print(yyyymmdd)
print(num)

881120
1068234

In [7]:
pin = "881120-1068234"
print(pin[7])

1

In [8]:
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

In [9]:
a = [1,2,3,4,5]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [16]:
a = ['Life','is','too','short']
result = " ".join(a)
print(result)

Life is too short

In [17]:
a = 1,2,3
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [25]:
a = dict()
a

# 딕셔너리의 경우 key 값에 리스트를 넣을 수 없다.

{}

In [26]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [27]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [28]:
a = b = [1,2,3]
a[1] = 4
print(b)

# a와 b에는 주소까지 같은 객체의 정보가 들어있기 때문에, a에서 수정을 하였다고 하여도 b도 같은 주소의 데이터를 참조하기 때문에 b의 값 역시 바뀌게 된다.

[1, 4, 3]

In [ ]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else print("none")

# shirt

In [29]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
    i += 1

print(result)

166833

In [30]:
i = 0
while True:
    i += 1
    if i > 5: break
    print("*" * i)

*
**
***
****
*****

In [31]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [34]:
A = [70,60,55,75,95,90,80,80,85,100]
total = 0
for score in A:
    total += score
average = total / len(A)
print(average)

79.0

In [35]:
numbers = [1,2,3,4,5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n * 2)

In [40]:
numbers = [1,2,3,4,5]
result = n * 2 if n % 2 == 1 as n in numbers
print(result)

SyntaxError: expected 'else' after 'if' expression (3686439612.py, line 2)

In [42]:
def is_odd(number):
    if number % 2 == 1:
        return True
    else:
        return False

NameError: name 'id_odd' is not defined